@import "mocha.css";

* {
  font-family: FiraCode Nerd Font;
  font-size: 14px;
}

#waybar {
  background: transparent;
  background-color: @surface0;
  color: @text;
  margin: 0;
}

#workspaces button {
  color: @lavender;
  padding: 0rem 0.4rem;
}

#workspaces button.active {
  background-color: @surface2;
  border-radius: 0rem;
}

#network,
#cpu,
#memory,
#temperature,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio {
  background-color: @surface1;
  padding: 0rem 0.5rem;
}

#network {
  color: @maroon;
  margin-right: 0.5rem;
}

#cpu {
  color: @peach;
}

#memory {
  color: @lavender;
  margin-right: 0.5rem;
}

#backlight {
  color: @yellow;
  margin-right: 0.5rem;
}

#battery {
  color: @green;
  margin-right: 0.5rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @blue;
  margin-right: 0.5rem;
}

#tray {
  margin-right: 0.5rem;
}
