[mgr]
sort_dir_first = true

[opener]
play = [
	{ run = 'mpv "$@"', orphan = true, for = "unix" },
]
document = [
    { run = 'okular "$@"', orphan = true, desc = "okular", for = "linux" },
    { run = 'sioyek "$@"', orphan = true, desc = "sioyek", for = "linux" },
]
imv = [
    { run = 'imv "$@"', orphan = true, desc = "imv", for = "linux" },
]
[open]
prepend_rules = [
	{ mime = "image/*", use = [ "imv", "reveal" ] },
	{ mime = "application/pdf", use = [ "document" ] },
	{ mime = "application/octet-stream", use = [ "document" ] },
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
