@import "mocha.css";

* {
  font-family: Meslo Nerd Font;
  font-size: 14px;
}

#waybar {
  /* background: transparent; */
  background-color: @surface0;
  color: @text;
  margin: 0;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0px;
  background-color: @surface1;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface2;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#network,
#cpu,
#memory,
#temperature,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio {
  background-color: @surface1;
  padding: 0.2rem 1rem;
  margin: 5px 0px;
}

#network {
  color: @maroon;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

#cpu {
    color: @peach;
    border-radius: 1rem 0 0 1rem;
    margin-right: 0;
    padding-right: 0.5rem;
}

#memory {
    color: @lavender;
    border-radius: 0 1rem 1rem 0;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
}

#pulseaudio {
    color: @sky;
    border-radius: 1rem 0 0 1rem;
    margin-right: 0;
    padding-right: 0.5rem;
}

#backlight {
  color: @yellow;
  border-radius: 0 1rem 1rem 0;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
}

#battery {
  color: @green;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @blue;
  border-radius:1rem;
  margin-right: 0.5rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
